[Unit]
Description=Warn when battery is low
Documentation=man:notify-send(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/battery-notify
